name: ci

on:
  push:
    branches:
      - 'master'
    tags:
      - 'Release *.*.*'
      - 'Release *.*.* / Multi *.*.*'

jobs:

  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Docker Buildx
      id: build
      uses: docker/setup-buildx-action@v1
      
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: true
        platforms: linux/amd64
        tags: |
          ${{ github.repository_owner }}/ombi_sqlite_mysql:${{ github.ref_name }}
          ${{ github.repository_owner }}/ombi_sqlite_mysql:latest
        build_args: OMBI_VER=${{ github.ref_name }}
  
  
      


  
